


.Topo{
    width: 100%;
    height:  80px;

}
.bg_color_light{
  color: white;
  background-color: white;
}
.bg_color_dark{
color: black;
  background-color: black;
}
.picture{
    display: flex;
    justify-content: space-between; 
  align-items: center;
  padding: 25px;
}
.picture > #logo1{
width: 40px;
height: 35px;
}

.picture > button > #botao_ligth{
    width: 40px;
    height: 35px;
    
    border: 1px solid #747272;
    }